[submodule "robofleet_client"]
	path = robofleet_client
	url = git@github.com:Chai77/robofleet_ecocar_client.git 
	branch = master
[submodule "robofleet_server"]
	path = robofleet_server
	url = https://github.com/ut-amrl/robofleet_server
	branch = master
[submodule "robofleet_webviz"]
	path = robofleet_webviz
	url = git@github.com:Chai77/robofleet_ecocar_webviz.git 
	branch = master

[submodule "msg2fbs/flatbuffers"]
	path = msg2fbs/flatbuffers
	url = https://github.com/google/flatbuffers
